#Orders Publishing Subject
RequestPublishSubject = SECURITIES.REQ.
ResponseSubscribeSubject = SECURITIES.RESP
SenderCompanyID = 4478
SenderSubID = 2
UserName = es_fix_os
TraderName = es_fix_trader
TargetCompanyID = ICE
Exchange = ICE
UniqueIDFile = c:\\fixtest\\server\\config\\test.cfg
OFMOverrideFlag = N
restore = Y
FixInLogFile = c:\\fixtest\\server\\logs\\FIX-4478-IN.log
FixOutLogFile = c:\\fixtest\\server\\logs\\FIX-4478-OUT.log