# config file for fix server
ListenPort = 3000
PublishSubjectPrefix = TRADE.FIXREQ.
ResponseSubscribePrefix = TRADE.RESP.*.

Exchange = CME
FixVersion = FIX.4.2
HeartBeatInSeconds = 30
FTI = P
LogFileDirectory = c:\\fixtest\\server\\logs\\


log4j.rootCategory=debug, stdout, dest1
log4j.appender.stdout=org.apache.log4j.ConsoleAppender

log4j.appender.stdout.layout=org.apache.log4j.PatternLayout
log4j.appender.stdout.layout.ConversionPattern=%5p [%t] (%F:%L) - %m%n

log4j.appender.dest1=org.apache.log4j.FileAppender
log4j.appender.dest1.File=fixserver.log
log4j.appender.dest1.Threshold=DEBUG
log4j.appender.dest1.ImmediateFlush=true
log4j.appender.dest1.layout=org.apache.log4j.PatternLayout
log4j.appender.dest1.layout.ConversionPattern=%5p [%t] (%F:%L) - %m%n